* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.1rem;
    font-weight: 500;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #6600ff;
    font-weight: 700;
    font-size: 1.25em;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.button-burger {
    height: 40px;
    width: 40px;
    transition: 0.3s ease-in;
}

.button-burger:hover {
    cursor: pointer;
    opacity: 0.5;
}

.button-line {
    width: 100%;
    height: 16%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}

.profile-photo {
    max-width: 180px;
    max-height: 260px;
    min-width: 50px;
    min-height: 50px;
    border: 7px solid black;
    border-radius: 15px;
}

.profile-data {
    display: inline;
    max-width: 200px;
    margin-top:3%;
    margin-left: 2%;
}

.profile-data-segment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.underline {
    width: 100%;
    height: 3px;
    background-color: #300061;
    border-radius: 10px;
    margin-bottom: 5%;
}

.profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30px;
    max-height: 40px;
    padding: 5px;
    background-color: #5200cc;
    color: #fff;
    border-radius: 3px;
    transition: 0.3s ease-in;
    margin-bottom: 12px;
    font-size: 1rem;
}

.profile-button:hover {
    cursor: pointer;
    background-color: #300061;
}

.sweets {
    padding-top: 5px;
    padding-left: 5px;
    height: 100px;
}

.sweets > div:last-child {
    margin-top: 10px;
}

.underline-sweets {
    width: 100%;
    height: 3px;
    background-color: #300061;
    border-radius: 10px;
}

.to-do-list {
    margin-top: 10%;
    height: 500px;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: antiquewhite;
}

.to-do-today {
    background-color: aqua;
}

.to-do-month {
    background-color: aquamarine;
}